.overview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  width: 960px;
  margin-bottom: 40px;
  color: rgb(80, 80, 80);
  font-size: 15px;
  /* margin-top: 40px; */
}

.overview-header {
  height: 70px;
  width: 100%;
  background-color:rgb(80, 80, 80);
  overflow: visible;
  z-index: 98;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.overview-header h1 {
  font-size: 25px;
  margin-left: 40px;
  text-decoration: underline;
  font-weight: 900;
  color: white;
}

.overview-search {
  color: white;
  width: 400px;
  margin-right: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#overview-search-field {
  border: none;
  border-bottom: 2px solid white;
  width: 125px;
  margin-right: 10px;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 15px;
}

.overview-announcement {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 100;
}

#overview-new-product-highlight {
  text-decoration: underline;
  color: rgb(80, 80, 80);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.overview-component {
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;

}

/* Product Information */
.overview-product-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.overview-product {
  width: 100%;
  flex-direction: column;
}

.overview-product-information {
  order: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.overview-product-information-meta {
  align-self: flex-end;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  right: 0px;
  width: 340px;
  height: auto;
}

#overview-category {
  order: 1;
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#overview-name {
  order: 2;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
  height: 40px;
  height: auto;
}

.overview-price {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}

#overview-price-slash {
  text-decoration: line-through;
  margin-right: 7px;
}

#overview-sale-price {
  color: red;
}

/* Reviews */
.overview-reviews {
  order: 0;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 25px;
}

.overview-stars {
  width: 110px;
  height: 24px;
}

.overview-stars .star-ratings-css {
  margin: 0px;
}

.overview-reviews-count {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: underline;
}

/* Style Selector */

.overview-style-selector-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.overview-style-selector {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.overview-style-section {
  width: 340px;
  position: relative;
  height: auto;
}

#overview-style-name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
}

.overview-style-icon-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.overview-style-icon, .overview-selected-style-icon,
.overview-style-icon img, .overview-selected-style-icon img {
  width: 55px;
  height: 55px;
}

.overview-style-icon, .overview-selected-style-icon {
  border: 2px solid rgb(80, 80, 80);
  outline-style: none;
  margin: 5px;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 100%;
  font-weight: 100;
}

.overview-selected-style-icon {
  font-weight: 900;
  opacity: .6;
}

.overview-style-icon img, .overview-selected-style-icon img {
  border-radius: 100%;
  object-fit:cover;
}

/* .overview-default-style-icon {
  background-color: darkseagreen;
} */

.overview-bag-and-star {
  display: flex;
  justify-content: flex-end;
}

/* Add To Cart */
/* button {
  border: none;
} */

#overview-size-selector, #overview-add-to-bag-btn, #overview-quantity-selector, #overview-view-bag-btn, #overview-star-button {
  background-color: white;
  width: 200px;
  height: 50px;
  border: 2px solid rgb(80, 80, 80);
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-left: 15px;
  margin-right: 20px;
  appearance: none;
  outline-style: none;
  color: rgb(80, 80, 80);
}

#overview-add-to-bag-btn, #overview-view-bag-btn {
  margin-top: 15px;
  width: 270px;
}

#overview-star-button {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  margin-right: 0px;
}

#overview-quantity-selector {
  width: 120px;
  margin-right: 0;
}

#overview-please-select {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  color: red;
}

/* .overview-add-to-cart {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* Social Share */
.overview-social-share {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.overview-facebook, .overview-twitter, .overview-pinterest {
  margin-right: 15px;
  background-color: white;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  width: 50px;
  height: 20px;
  text-align: center;
}
.overview-pinterest {
  margin-right: 0;
}

#overview-facebook-share-button {
  text-decoration: none;
}

#overview-twitter-share-button {
  text-decoration: none;
}

#overview-pinterest-share-button {
  text-decoration: none;
}

/* Product Overview */
.overview-overview {
  order: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  clear: both;
  margin: 0;
}

.overview-product-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.overview-product-overview-main {
  display: flex;
  flex-direction: column;
  /* width: 644px; */
  padding-right: 10px;
  /* border-right: 2px solid rgb(80, 80, 80); */
}

#overview-slogan {
  font-weight: 600;
  margin-bottom: 10px;
}

#overview-description {
  font-size: 14px;
  line-height: 20px;
}

/* Features */
.overview-features {
  width: 338px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 2px solid rgb(80, 80, 80);
}

.overview-specific-feature {
  width: 340px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 10px;
  padding-bottom: 20px;
}

/* Gallery */
.overview-gallery, .overview-gallery-protection {
  order: -1;
  width: 575px;
  height: 475px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  background-color:#ededed;
}

.overview-gallery-protection {
  position: relative;
  height: 475px;
  margin-bottom: 20px;
}

.overview-thumbnails {
  display: flex;
  flex-direction: column;
  width: 54px;
  height: 385px;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  left: 25px;
  top: 20px;
  z-index: 3;
}

.overview-thumbnail-icon, .overview-selected-thumbnail-icon {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline-style: none;
  box-shadow: 0px 0px 4px #FFF;
  border: 2px solid rgb(80, 80, 80);
  background-color: #ededed;
}

/* .overview-thumbnail-icon img, .overview-selected-thumbnail-icon img {
  border-radius: 8px;
} */

.overview-thumbnail-icon img, .overview-selected-thumbnail-icon img, .overview-thumbnail-outline {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 50px;
  object-fit: cover;
}

.overview-thumbnail-outline {
  padding-bottom: 4px;
  /* margin-left: 6px; */
  background-color: transparent;
  position: absolute;
  border-bottom: 3px solid rgb(80, 80, 80);
  left: 0;
  max-width: 54px;
  margin: 0;
}

.overview-selected-thumbnail-icon img {
  opacity: 0.6;
}

.overview-default-view {
  background-color:#ededed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  position: absolute;
  left: 0;
  outline-style: none;
}

#overview-default-view-img {
  object-fit:contain;
  max-width: 100%;
  max-height: 100%;
}

.overview-expanded-view-wrapper {
  height: 100vh;
  width: 100vw;
  /* height: 100vh; */
  outline-style: none;
  position: fixed;
  z-index: 99;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* left: auto; */
}

.overview-fade-out {
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.overview-expanded-view {
  /* overflow: visible; */
  outline-style: none;
  position: absolute;
  z-index: 100;
  margin: auto;
  width: 80%;
  height: 80%;
  /* left: 0; */
  /* top: 40px; */
  /* overflow:hidden; */
  background-color:#ededed;
}

#overview-expanded-view-img {
  object-fit:contain;
  width: 100%;
  height: 100%;
}

/* .overview-broken-image {
  background-color: dodgerblue;
  width: auto;
  height: auto;
} */

img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

img:after {
  visibility: hidden;
}