html {
  scroll-behavior: smooth;
}

/* #app {
  animation: .6s ease-in 0s 1 photoFadeIn;
} */

.overview-wrapper {
  -webkit-font-smoothing: antialiased;
  font-family: 'Graphik Webfont', -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans',
    'Segoe UI', 'Helvetica', Arial, sans-serif;
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  width: 960px;
  margin-bottom: 40px;
  font-size: 13px;
  /* margin-top: 40px; */
  animation: .6s ease-in 0s 1 photoFadeIn;
}

.overview-header {
  height: 70px;
  width: 100%;
  border-bottom:1px solid rgb(80, 80, 80);
  overflow: visible;
  z-index: 98;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
  padding-bottom: 16px;
}

.overview-header h1 {
  font-size: 36px;
  font-weight: 900;
  color: rgb(80, 80, 80);
  margin: 0;
  line-height: 22px;
  font-family: "Guardian-EgypTT",serif;
  letter-spacing: 2px;
}

.overview-search {
  color: white;
  width: 400px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#overview-search-field {
  border: none;
  width: 225px;
  margin-right: 10px;
  background-color: #ededed;
  outline: none;
  color: rgb(80, 80, 80);
  font-size: 13px;
  padding-left: 10px;
}

#overview-search-field:focus {
  border-bottom: 1px solid rgb(80, 80, 80);
}

.overview-announcement {
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: 100;
  font-weight: 400;
}

#overview-new-product-highlight {
  text-decoration: underline;
  color: rgb(80, 80, 80);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.overview-component {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
}

/* Product Information */
.overview-product-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-product {
  width: 32%;
  flex-direction: column;
}

.overview-product-information {
  order: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.overview-product-information-meta {
  align-self: flex-end;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  right: 0px;
  width: 100%;
  height: auto;
}

#overview-category {
  order: 1;
  font-size: 13px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 400;
}

#overview-name {
  order: 2;
  font-weight: 100;
  font-size: 35px;
  height: 40px;
  margin-top: 5px;
  height: auto;
  font-family: "Guardian-EgypTT",serif;
}


.overview-price {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  align-items: baseline;
}

#overview-price-slash {
  text-decoration: line-through;
  color: #2e8539;
  font-size: 15px;
}

#overview-sale-price {
  margin-right: 7px;
  font-size: 30px;
  letter-spacing: normal;
}

/* Reviews */
.overview-reviews {
  order: 0;
  width: auto;
  height: auto;
  display: flex;
  cursor: pointer;
  margin-top: 6px;
}

/* .overview-stars {
  width: 110px;
  height: 24px;
} */

.overview-stars .star-ratings-css {
  margin: 0px;
  position: relative;
}

.overview-reviews-count {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: underline;
  position: relative;
  padding-left: 6px;
}

/* Style Selector */

.overview-style-selector-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.overview-style-selector {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.overview-style-section {
  width: 100%;
  position: relative;
  height: auto;
}

#overview-style-name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
}

.overview-style-icon-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 100%;
}

.overview-style-icon img {
  opacity: .6;
}

.overview-style-icon, .overview-selected-style-icon {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
}

.overview-style-icon, .overview-selected-style-icon {
  outline-style: none;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 100%;
  font-weight: 100;
  background-color: #ededed;
  /* box-sizing: border-box; */
  cursor: pointer;
  position: relative;
}

/* .overview-style-icon:hover, .overview-selected-style-icon:hover {
transition: background-color .3s ease;
transition: color .5s ease;
background-color: rgb(80, 80, 80);
color: white;
} */

.overview-selected-style-icon {
  /* border: 2px solid rgb(80, 80, 80); */
  animation: .3s ease-in 0s 1 fadeInSelect;
  box-shadow: 0px 0px 6px rgb(80, 80, 80);
  font-weight: 900;
}

.overview-style-icon img, .overview-selected-style-icon img {
  border-radius: 100%;
  object-fit:cover;
  width: 100%;
  height:100%;
  position: absolute;
}

/* .overview-selected-style-icon img {
  animation: .1s ease .3s 1 fadeInSelect;
} */
/* .overview-default-style-icon {
  background-color: darkseagreen;
} */

.overview-size-and-quantity, .overview-bag-and-star {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 50px;
  width: 100%;
}

.overview-bag-and-star {
  margin-bottom: 20px;
}

/* Add To Cart */
#overview-size-selector, #overview-add-to-bag-btn, #overview-quantity-selector, #overview-view-bag-btn, #overview-star-button, .overview-wrapper select:focus {
  background-color: white;
  width: 47%;
  height: 50px;
  border: 1px solid rgba(80, 80, 80, .5);
  box-shadow: 0 0 3px rgba(80, 80, 80, .5);
  font-size: 14px;
  font-weight: 600;
  appearance: none;
  outline: none;
  color: rgb(80, 80, 80);
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  padding-left: 10px;
}

#overview-size-selector {
  z-index: 999;
  position:absolute;
  left: 0;
}

/* #overview-size-selector {
  z-index: 999;
  position:absolute;
  left: 0;
} */

#overview-quantity-selector {
  position: absolute;
  right: 0;
  z-index: 999;
}

#overview-size-selector:focus, #overview-quantity-selector:focus {
  position: absolute;
  z-index: 444;
  overflow:scroll;
  height: auto;
  min-height: 50px;
  padding-left: 0;
}

/* #overview-size-selector::-ms-expand {
	display: none;
} */

/* #overview-size-selector:focus, #overview-quantity-selector:focus {
  padding-left: 10px;
} */

#overview-size-selector:hover, #overview-add-to-bag-btn:hover, #overview-quantity-selector:hover, #overview-view-bag-btn:hover, #overview-star-button:hover, #overview-size-selector:focus, #overview-quantity-selector:focus {
  transition: border .5s ease;
  transition: box-shadow .2s ease-in;
  border: 1px solid rgba(80, 80, 80, 1);
  box-shadow: 0 0 4px rgba(80, 80, 80, 1);
  z-index: 500;
  appearance: none;
}

.overview-wrapper select, .overview-wrapper select:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  height: auto;
  z-index: 1000;
  line-height: 20px;
  /* padding-left: 10px; */
  /* overflow: visible; */
  font-weight: 600;
}

/* .overview-wrapper select[mutliple] {
  background-color: aqua;
} */

/* .overview-wrapper select:focus  {
  padding-left: 10px;
} */

/* .overview-wrapper option:checked {
  padding-left: 10px;
} */

.overview-wrapper option {
  font-weight: 600;
  background-color: transparent;
  outline: none;
  margin-bottom: 10px;
  z-index: 1000;
  height: 100%;
  padding-bottom: 15px;
  margin: 0;
  outline:none;
  padding-top: 15px;
  padding-left: 10px;
  width: 100%;
  /* padding-left: 0px; */
}

.overview-wrapper option:hover {
  background-color: #ededed;
}

/* .overview-wrapper option:default {
  padding-left: 10px;
} */

/* .overview-wrapper select option:checked {
  padding-left: 20px;
} */

/* .overview-wrapper option::selection {
  font-size: 20px;
  padding-left: 20px;
} */

.overview-add-to-bag-button-area {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 20px;
}

#overview-add-to-bag-btn, #overview-view-bag-btn {
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  border-radius: 50px 50px 50px 50px;
  padding: 0;
  background-color: rgb(80, 80, 80);
  box-shadow: none;
  border: none;
}

#overview-add-to-bag-btn:hover, #overview-view-bag-btn:hover {
  box-shadow:none;
  transition: transform .1s ease-in;
  transform: scale(1.04);
  position: absolute;
  background-color: rgb(91, 91, 91);
  border:none;
  z-index: 20;
}

#overview-add-to-bag-btn:active, #overview-view-bag-btn:active {
  transition: transform .1s ease-in;
  transform: scale(1);
}
.overview-add-to-bag-text, .overview-view-bag-text {
  position: absolute;
  top: 50%;
  line-height: 0;
  text-align: center;
  width: 100%;
  color: white;
  z-index:444;
  font-weight: 700;
  pointer-events: none;
}

#overview-star-button {
  justify-self: flex-end;
  align-self: flex-end;
  width: 100px;
  min-width: 50px !important;
  height: 50px;
  margin-left: 20px;
  position: relative;
}

#overview-quantity-selector {
  margin-left: 20px;
}

#overview-please-select {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 13px;
  color: red;
  position:absolute;
  top:-35px;
  left: 0;
  margin-left:10px;
}

/* .overview-add-to-cart {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* Social Share */
.overview-social-share {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.overview-facebook, .overview-twitter, .overview-pinterest {
  margin-right: 5px;
  background-color: white;
  width: 28px;
  height: 28px;
  background-image: url('../src/components/Overview/img/social-icons.png');
  background-repeat: no-repeat;
  background-size: 100px;
  scale: .6;
  border: none;
  outline: none;
  opacity: .6;
}

.overview-facebook:hover, .overview-twitter:hover, .overview-pinterest:hover {
  transition: opacity .5s ease;
  opacity: 1;
}

.overview-pinterest {
  margin-right: 0;
  background-position: -78px 0px;
}

.overview-twitter {
  background-position: -49px 0px;
}

.overview-facebook {
  background-position: 4px 0px;
}

/* #overview-facebook-share-button {
  text-decoration: none;
  display: none;
}

#overview-twitter-share-button {
  text-decoration: none;
}

#overview-pinterest-share-button {
  text-decoration: none;
} */

/* Product Overview */
.overview-overview {
  order: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  clear: both;
  margin: 0;
  justify-content: space-between;
}

.overview-product-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.overview-product-overview-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 80px;
  padding-right: 40px;
  /* border-right: 2px solid rgb(80, 80, 80); */
}

#overview-slogan {
  font-weight: 600;
  margin-bottom: 10px;
}

#overview-description {
  font-size: 14px;
  line-height: 20px;
  padding-right: 9px;
}

/* Features */
.overview-features {
  width: 57%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgb(80, 80, 80);
  justify-content: center;
}

.overview-all-features {
  padding-left: 20px;
}

.overview-specific-feature {
  width: 100%;
  /* padding-left: 30px; */
  font-size: 14px;
  line-height: 10px;
  /* padding-bottom: 20px; */
  vertical-align: middle;
  padding: 10px 0px 10px 0px;
}

/* Gallery */
.overview-gallery {
  order: -1;
  width: 65%;
  height: 500px;
  /* min-height: 500px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  /* z-index: -4; */
}

.overview-gallery-protection {
  position: relative;
  margin-bottom: 20px;
  height: 500px;
}

.overview-thumbnails {
  position: fixed;
  animation: 1.2s ease-in 0s 1 photoFadeIn;
}

.overview-thumbnails, .overview-thumb-fade-top, .overview-thumb-fade-bottom {
  display: flex;
  flex-direction: column;
  width: 74px;
  height: 100%;
  max-height: 500px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 0px 8px 0px 6px;
  overflow: scroll;
  scrollbar-width: none;
  /* top: 3%; */
  /* left: 3%; */
}

.overview-thumb-fade-bottom {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 0;
  bottom: 0;
  z-index: 4;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  pointer-events: none;
  animation: .3s ease-out 0s 1 slideUp;
}

.overview-thumb-fade-bottom:hover {
  animation: moveSlideshow 3s linear;
  animation-fill-mode: forwards;
}

.overview-thumb-fade-top {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 0;
  top: 0;
  z-index: 10;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  pointer-events: none;
  animation: .3s ease-out 0s 1 slideDown;
}

.overview-thumbnails::-webkit-scrollbar {
  display: none;
}

.overview-thumbnail-icon {
  opacity: .6;
}

.overview-thumbnail-icon, .overview-selected-thumbnail-icon {
  width: 66px;
  height: 66px;
  /* margin-top: 10px; */
  margin-bottom: 5px;
  outline-style: none;
  box-shadow: 0px 0px 4px #FFF;
  border-radius: 6px;
  background-color: #ededed;
  margin-top: 7px;
  cursor: pointer;
}

/* .overview-selected-thumbnail-icon {
  z-index: 10;
} */

/* .overview-thumbnail-icon img, .overview-selected-thumbnail-icon img {
  border-radius: 8px;
} */

.overview-thumbnail-icon img {
  border-radius: 4px;
  opacity: .6;
}

.overview-thumbnail-icon img, .overview-selected-thumbnail-icon img, .overview-thumbnail-outline {
  z-index: 1;
  width: 66px;
  height: 66px;
  border-radius: 4px;
  object-fit: cover;
}

.overview-thumbnail-outline {
  background-color: transparent;
  position: absolute;
  box-shadow: 0px 0px 6px rgb(80, 80, 80);
  height: 66px;
  width: 66px;
  border-radius: 6px;
}

.overview-selected-thumbnail-icon img {
  opacity: 1;
  z-index: 10;
}

.overview-default-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  outline-style: none;
  background-color:#ededed;
  border-radius: 6px;
  margin-top: 6px;
  top: 0;
  cursor: zoom-in;
}

.overview-expand-bubble {
  width: 100%;
  height: 100%;
  position: absolute;
  /* z-index: 600; */
}

#overview-default-view-img {
  object-fit:contain;
  max-width: 100%;
  max-height: 100%;
  transition: 0;
  animation: .7s ease-in 0s 1 photoFadeIn;
}

.overview-expanded-view-wrapper {
  height: 100vh;
  width: 100vw;
  /* height: 100vh; */
  outline-style: none;
  position: fixed;
  z-index: 1000;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* left: auto; */
}

.overview-fade-out {
  background-color: rgb(80, 80, 80);
  opacity: .7;
  width: 100%;
  height: 100%;
}

.overview-expanded-view {
  /* overflow: visible; */
  outline-style: none;
  position: absolute;
  z-index: 1000;
  margin: auto;
  width: 80%;
  height: 80%;
  /* left: 0; */
  /* top: 40px; */
  /* overflow:hidden; */
  background-color:#ededed;
}

#overview-expanded-view-img {
  object-fit:contain;
  width: 100%;
  height: 100%;
  z-index: 300;
  animation: .3s ease-in 0s 1 photoFadeIn;
}

/* .overview-broken-image {
  background-color: dodgerblue;
  width: auto;
  height: auto;
} */

.overview-arrow {
  border: solid rgb(160, 160, 160);
  border-width: 0 3px 3px 0;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 25%;
  left: 25%;
  cursor: pointer;
}

.overview-expanded-arrow {
  border: solid rgb(160, 160, 160);
  border-width: 0 5px 5px 0;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 27%;
  left: 27%;
  cursor: pointer;
}

.overview-arrow-background {
  background-color: #ededed;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 6px rgb(160, 160, 160);
  cursor: pointer;
}

/* .overview-arrow-background:hover ~ #overview-expand-bubble {
  pointer-events: none;
} */

.overview-arrow-background-thumb {
  background-color: transparent;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  /* box-shadow: 0px 0px 6px rgb(160, 160, 160); */
  cursor: pointer;
}

.overview-arrow-background:hover, .overview-arrow-background:hover .overview-arrow, .overview-arrow-background:hover .overview-expanded-arrow {
  opacity: 1;
  background-color: rgb(160, 160, 160);
  border-color: white;
  transition: background-color .3s ease;
  transition: border-color .5s ease;
}

.overview-arrow-background-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 46%;
  right: 4%;
}

.overview-arrow-background-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 46%;
  left: 4%;
}

.overview-arrow-background-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  bottom: 0;
  left: 4%;
  z-index: 200;
}

.overview-arrow-background-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: absolute;
  top: 0;
  left: 4%;
  z-index: 200;
}

.overview-expanded-arrow-background-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  right: 4%;
  /* z-index: 501; */
  width: 60px;
  height: 60px;
  z-index: 1001;
}

.overview-expanded-arrow-background-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: 50%;
  left: 4%;
  /* z-index: 301; */
  width: 60px;
  height: 60px;
  z-index: 301;
}

.overview-checkmark-background {
  animation: .1s ease-in 0s 1 popIn;
  background-color: rgb(80, 80, 80);
  border-radius: 100%;
  /* box-shadow: 0px 0px 6px #ededed; */
  z-index: 20;
}

.overview-checkmark:before {
  content: '✓';
  position: absolute;
  top: 14%;
  left: 21%;
  color:#ededed;
  font-size: 16px;
}
.overview-selected-checkmark-background {
  /* transform: rotate(-45deg); */
  /* -webkit-transform: rotate(-45deg); */
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  opacity: 1;
}

img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

img:after {
  visibility: hidden;
}


@keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInSelect {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes photoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
