.body {
  color: #222222;
  -webkit-font-smoothing: antialiased;
  font-family: 'Graphik Webfont', -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans',
    'Segoe UI', 'Helvetica', Arial, sans-serif;
}

#YourOutfit,
#RelatedProducts {
  position: relative;
}

.RelatedandOutfit {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  width: 960px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.ProductCard {
  font-family: 'Graphik Webfont', -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans',
    'Segoe UI', 'Helvetica', Arial, sans-serif;
  color: #222222;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: normal;
  width: 230px;
  height: 330px;
  margin-top: 20px;
  margin-bottom: 48px;
  padding: 10px;
  display: inline-grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  box-sizing: border-box;
}

.ProductCard .actionButton {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 100ms, opacity 100ms;
}

.ProductCard:hover {
  cursor: pointer;
}

.ProductCard:hover .actionButton {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 100ms;
}

.ProductCard:hover img {
  box-shadow: 0 0 10px rgb(191, 191, 191);
}

#addItem:hover {
  border: 1px rgb(129, 128, 128);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(191, 191, 191);
}

#addItem:hover #addOutfit {
  transform: scale(1.1);
}

.ProductCardImage {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column: 1 / span 3;
}

.ProductInfo {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column: 1 / span 3;
  line-height: 0.3;
  font-size: 15px;
  padding: 5px;
}

.ProductCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.SalePrice {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
}

.OriginalPrice {
  text-decoration: line-through;
  color: #2e8539;
}

h3 {
  font-family: 'Guardian-EgypTT', serif;
  font-weight: 300;
  letter-spacing: 0.35px;
  font-size: 26px;
  line-height: 42px;
}

.Category h3 {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}

.ProductName {
  color: #595959;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: normal;
}

.comparisonModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(170, 169, 169, 0.5);
  margin: auto;
  z-index: 2;
  left: 0;
  top: 0;
}

.content {
  position: relative;
  display: inline-block;
  box-shadow: 0 6px 36px rgb(34 34 34 / 33%);
  background: #fff;
  border-radius: 24px;
  overflow: auto;
  margin: 100px;
  padding: 30px;
  z-index: 100;
  animation: 0.5s fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  75% {
    opacity: 0.9;
  }

  to {
    opacity: 1;
  }
}

.content h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  padding: 0;
  line-height: 100%;
}

.star-ratings-css-top {
  color: rgb(68, 68, 68);
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.carousel {
  position: relative;
  width: 920px;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar,
.carousel::-webkit-scrollbar-track,
.carousel::-webkit-scrollbar-thumb {
  display: none;
}

.actionButton {
  border: black;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 25px;
  height: 25px;

  cursor: pointer;
  justify-content: center;
}

#comparisonButton {
  background: url(../src/components/Relatedandoutfit/icons/star.png) no-repeat;
  background-size: 100%;
  filter: drop-shadow(0 0 2px #222);
}

#comparisonButton:hover,
#removeButton:hover {
  transform: scale(1.1);
}

#removeButton {
  background: url(../src/components/Relatedandoutfit/icons/close.png) no-repeat;
  background-size: 80%;
  filter: drop-shadow(0 0 2px #222);
}

#addOutfit {
  background: none;
  border: none;
  position: static;
  font-size: 50px;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  cursor: pointer;
}

.carousel_actions {
  position: relative;
}

.carousel_actions button {
  position: absolute;
  padding: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
}

.carousel_actions button:hover {
  box-shadow: 0 0 10px rgb(191, 191, 191);
  transform: scale(1.1);
}

#outfit_carousel_left,
#related_carousel_left {
  top: 150px;
  left: 65px;
  background: url(../src/components/Relatedandoutfit/icons/left.png) no-repeat;
  margin: 0 0 0 -50px;
  z-index: 100;
}

#outfit_carousel_right,
#related_carousel_right {
  top: 150px;
  right: 105px;
  background: url(../src/components/Relatedandoutfit/icons/right.png) no-repeat;
  margin: 0 -50px 0 0;
  z-index: 100;
}

#overflowTable {
  overflow-y: auto;
  height: 300px;
}

#overflowTable::-webkit-scrollbar,
#overflowTable::-webkit-scrollbar-track,
#overflowTable::-webkit-scrollbar-thumb {
  display: none;
}

table {
  width: 100%;
}

.center-column,
.left-column,
.right-column {
  text-align: center;
  width: 150px;
}

thead th {
  top: 0;
  position: sticky;
  z-index: 20;
  min-height: 30px;
  height: 30px;
  background-color: rgb(221, 221, 221);
}
