.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-box {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

/* Danica */
body {
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
  /* background: yellow; */
}

.ProductCard {
  width: 250px;
  height: 350px;
  margin-top: 48px;
  border: 1px solid rgb(221, 221, 221);
  margin: 10px;
  display: inline-grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

.ProductCard:hover {
  cursor: pointer;
}

.ProductCardImage {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column: 1 / span 3;
}

.ProductInfo {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column: 1 / span 3;
  line-height: 50%;
  font-size: 15px;
  padding: 5px;
  /* background-color: blue; */
}

.ProductCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SalePrice {
  color: red;
}

.OriginalPrice {
  text-decoration: line-through;
}

.Category,
h3 {
  text-transform: uppercase;
  color: rgb(85, 85, 85);
}

.ProductName {
  font-weight: bold;
}

.comparisonModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(170, 169, 169, 0.5);
  margin: auto;
  z-index: 2;
  left: 0;
  top: 0;
}

.content {
  position: absolute;
  overflow: auto;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  z-index: 10;
  color: grey;
  left: 25%;
  top: 10%;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  padding: 0;
  line-height: 100%;
}

.star-ratings-css-top {
  color: rgb(129, 128, 128);
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.carousel {
  position: relative;
  width: 90vw;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar,
.carousel::-webkit-scrollbar-track,
.carousel::-webkit-scrollbar-thumb {
  display: none;
}

.actionButton {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
}

#addOutfit {
  position: static;
  font-size: 50px;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

#removeButton {
  background: url(https://www.flaticon.com/svg/vstatic/svg/786/786195.svg?token=exp=1615049066~hmac=3925775be4ee3c24c9b051bb4b224e70)
    no-repeat;
  width: 25px;
  height: 25px;
  margin: 5px;
}

.carousel_actions {
  position: relative;
}

.carousel_actions button {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  border: none;
  cursor: pointer;
}

.carousel_actions button:hover {
  opacity: 1;
}

#outfit_carousel_left,
#related_carousel_left {
  top: -200px;
  left: 5vw;
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  margin: 0 0 0 -50px;
}

#outfit_carousel_right,
#related_carousel_right {
  top: -200px;
  left: 90vw;
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  margin: 0 -50px 0 0;
}

#overflowTable {
  overflow-y: auto;
  height: 100px;
}

#overflowTable::-webkit-scrollbar,
#overflowTable::-webkit-scrollbar-track,
#overflowTable::-webkit-scrollbar-thumb {
  display: none;
}

table {
  width: 100%;
}

.left-column {
  text-align: left;
  width: 200px;
}

.center-column {
  text-align: center;
  width: 200px;
}

.right-column {
  text-align: right;
  width: 200px;
}

thead th {
  top: 0;
  position: sticky;
  z-index: 20;
  min-height: 30px;
  height: 30px;
  background-color: rgb(221, 221, 221);
}
