.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-box {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photo-container {
  position: relative;
  width: 150px;
}
.modal-box {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.reviews {
  grid-column-start: 1;
  grid-column-end: 4;
}

.reviews-container {
  overflow-y: scroll;
  height: 70vh;
  grid-column-start: 0;
  grid-column-end: 3;
}
/*border: 2px solid rgb(125, 125, 125);*/

.checked {
  color: rgb(125, 125, 125);
}

.unchecked {
  color: #c5c5c5;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.info {
  width: 80%;
}

.caution {
  font-size: small;
}

.error {
  color: red;
}

.bar-background {
  background-color: lightgrey;
  height: 15px;
  width: 150px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.star-bar {
  background-color: black;
  z-index: 1;
  margin-left: 10px;
  margin-top: -20px;
  height: 15px;
}

.star-bar:hover {
  background-color: gray;
}

.averageScore {
  font-size: 40px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
  margin-left: 25px;
  height: 50px;
}
.char-container {
  grid-row: 4;
}

.char-segment {
  width: 80px;
  height: 7px;
  background-color: lightgrey;
  margin: 5px;
  margin-left: 2px;
  display: inline-block;
  text-align: center;
}

.char-subcontainer {
  width: 255px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.char-slider {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

.segment-text {
  margin: 5px;
  width: 50px;
}

.text-container {
  display: flex;
  justify-content: space-between;
  font-size: small;
  text-align: center;
}

.item-summary {
  display: grid;
  grid-template-rows: 1fr, 5fr, 1fr, 5fr;
  margin-left: 5%;
  margin-bottom: 10%;
}

.star-rating {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 20px;
  width: 125px;
  margin: 0;
  margin-left: 85px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  grid-column: 1;
  grid-row: 1;
}

.star-rating-top {
  color: rgb(125, 125, 125);
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  width: 120px;
  margin-bottom: 10px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-rating-bot {
  padding: 0;
  display: block;
  z-index: 0;
  margin-bottom: 10px;
  width: 125px;
}

.bars-container {
  grid-row: 2;
  width: 225px;
}

.bar-text {
  width: 10px;
  margin-bottom: -20px;
  float: left;
}

.bar-container {
  width: 170px;
  height: 25px;
  margin-left: 10%;
}

.ratings-reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: Arial, Helvetica, sans-serif;
}

.tile {
  border-bottom: rgb(125, 125, 125) solid 2px;
  width: 70%;
}

.img {
  border-radius: 25%;
}

.rec-percent {
  font-size: small;
  width: 225px;
  text-align: center;
  grid-row: 3;
}

.sort-text {
  display: inline;
  float: left;
}

.review-tile {
  margin-left: 0;
  border-color: lightgrey;
  border-radius: 2px;
}
.username {
  color: rgb(65, 65, 65);
  margin-right: 10px;
}

.date {
  font-size: small;
  color: gray;
}

.body {
  max-width: 70%;
  word-wrap: break-word;
  margin-bottom: 25px;
}

.tile {
  margin-left: 0;
}
.recommends {
}

.helpfulness {
}

#more-reviews,
.add-review {
  background-color: white;
  width: 150px;
  height: 50px;
  border: 2px solid rgb(55, 55, 55);
  font-size: 14px;
  text-align: center;
  padding-left: 15px;
  margin-right: 20px;
  margin-top: 5px;
  appearance: none;
  outline-style: none;
  grid-column: 2;
  border-radius: 25px;
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), background 150ms ease-out,
    box-shadow 200ms;
}

#more-reviews:hover,
.add-review:hover {
  transform: scale(1.05);
}

.add-review {
  grid-column: 2;
  grid-row: 2;
}

#more-reviews {
  grid-column: 1;
  grid-row: 2;
  margin: ;
}

.please-work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80%, 20%;
  margin-bottom: 5%;
  grid-column-start: 2;
  grid-column-end: 5;
}
